<%= content_for :cssname do %>
<%= stylesheet_link_tag "index_multiple_choice_question", :media => "all" %>
<% end %>

<% if notice.present? %>
	<div data-alert class="alert-box success radius">
	  <%= notice %>
	  <a href="#" class="close">&times;</a>
	</div>
<% end %>

<h1>List of all questions</h1>

<div class="panel callout radius">
	<%= link_to 'Add new question', new_multiple_choice_question_path, :class => "button success" %>
</div>

<div class="panel callout radius">
	<h3>Import Questions</h3>
	
	<%= form_tag import_multiple_choice_questions_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Import", :class => "button" %>
	<% end %>
</div>

<table>
	<tr>
		<th>Question</th>
		<th>A</th>
		<th>B</th>
		<th>C</th>
		<th>D</th>
		<th>E</th>
		<th>F</th>
		<th>G</th>
		<th>H</th>
		<th>Right answer</th>
	</tr>

	<% @multiple_choice_questions.each do |x| %>
		<% if x.answers.present? %>
		<tr>
			<td width="276px"><%= my_render(x.question).html_safe %></td>
			<td width="144px"><%= x.answers[0] %></td>
			<td width="144px"><%= x.answers[1] %></td>
			<td width="144px"><%= x.answers[2] %></td>
			<td width="144px"><%= x.answers[3] %></td>
			<td width="144px"><%= x.answers[4] %></td>
			<td width="144px"><%= x.answers[5] %></td>
			<td width="144px"><%= x.answers[6] %></td>
			<td width="144px"><%= x.answers[7] %></td>
			<td><%= (x.right_answer + 65).chr %></td>
			<td><%= link_to 'Edit', edit_multiple_choice_question_path(x) %></td>
			<td><%= link_to 'Delete', multiple_choice_question_path(x),
				method: :delete, data: { confirm: 'Are you sure you want to delete
				this question?' } %></td>
		</tr>
		<% end %>
	<% end %>
</table>

