<%= content_for :cssname do %>
<%= stylesheet_link_tag "show_technical_test", :media => "all" %>
<% end %>

<%= content_for :jsname do %>
<%= javascript_include_tag 'show_technical_test', 'data-turbolinks-track' => true %>
<% end %>

<br />
<br />
<%= form_for :technical_test, :html => {id: 'answer_form'}, url: technical_test_path(:id => @technical_test_id, :question => (@question_index.to_i)), method: :patch do |f| %>
	<input id="selected_answer" name="selected_answer" type="hidden" value=""/>
	<input id="button_clicked" name="button_clicked" type="hidden" value=""/>
	<h3><%= 'Question ' + @question_index %></h3>
	<p><%= @question_content %></p>

	<% for i in 0..@question_answers.count - 1 %>
		<% @answer = @question_answers[i] %>
		<% if @selected_answer == i %>
			<input type="radio" name="selected_answer" value="<%=i%>" checked>
		<% else %>
			<input type="radio" name="selected_answer" value="<%=i%>">
		<% end %>
			<span class='answer_text'><%=@answer%></span>
			<br/>
	<% end %>

	<div id='previous_answer'>
		<% if @question_index.to_i > 1 %>
			<button>Previous</button>
		<% else %>
			<button disabled>Previous</button>
		<% end %>
	</div>

	<div id='next_answer'>
		<% if @question_index.to_i < @questions.count %>
			<button>Next</button>
		<% else %>
			<button disabled>Next</button>
		<% end %>
	</div>
<% end %>
<%= link_to 'Back', technical_tests_path %>
