<h1>Listing exams</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Questions</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
      	<td><%= exam.name %></td>
      
      	<td><%= exam.multiple_choice_questions.count %></td>

        <td>
        	<%= link_to 'Show', exam %>
        	<%= link_to 'Edit', edit_exam_path(exam) %>
        	<%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %>
    	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_exam_path %>
