<!DOCTYPE html>
<html>
<head>
  <title>Misfit</title>
  <%= javascript_include_tag 'application' %>

  <%= content_for?(:cssname) ? yield(:cssname) : "" %>
  <%= content_for?(:jsname) ? yield(:jsname) : "" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>